.WeatherForecast {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  color: white;
  width: 550px;
}

.WeatherForecast-maximum {
  margin-left: 5px;
}

@media (max-width: 600px) {
  .WeatherForecast {
    width: 250px;
    padding-bottom: 30px;
    font-size: 10px;
    size: 10px;
  }
}
